@{
    ViewData["Title"] = "Home Page";
    
}
<h1>ESCAPEGATO</h1>
<div class="galeria">
    <div class="imagen-principal">
        <img src="imagenes/Cartel.png">
    </div>
<h3>Escapa gato, no tenes ni un rato</h3>
    <div class="lista-imagenes">
        <img src="Imagenes/imagen1.png" alt="Imagen 1" class="img">
        <img src="Imagenes/imagen2.png" alt="Imagen 2" class="img">
        <img src="Imagenes/imagen3.png" alt="Imagen 3" class="img">

    </div>
    
</div>
