@{
    ViewData["Title"] = "Tutorial";
    
}
<h1>Este juego consta de 3 escenarios con fantaticos enigmas que te fragmentaran la cabeza</h1>
<h2>La Gran tematica de estas salas son las matematicas, donde tendras que sacar todos tus conocimientos para poder escapar</h2>
<img src="/Imagenes/escena1.png" alt="escena 1" class="img">
<img src="/Imagenes/escena2.png" alt="escena 2" class="img">
        