@{
    ViewData["Title"] = "Victoria";
}
<h1>Felicidades, escapaste!!!</h1>

<img class = "escapeend" src="/Imagenes/Escape.png" alt="escena 1" class="img">
<img class = "hasbu1" src="/Imagenes/Hasbu2.gif" alt="escena 1" class="img">
<img class = "hasbu2" src="/Imagenes/Hasbu3.gif" alt="escena 1" class="img">

